Repository dizzpy/Greenie-Web, pull requests merged in 2025-04, with the labels that each got.

#63 feat(fix): API linked to frontend
  package-lock.json
  src/[features]/feed/components/CreatePost.jsx
  src/[features]/feed/pages/Feed.jsx
Labels: feat

#67 fix(challenges): attach JWT token and handle API errors on challenge creation.
  src/AppRoutes.jsx
  src/[features]/challenges/pages/AddChallenge.jsx
Labels: fix

#75 feat: implement reaction picker with emoji-only popup
  src/[features]/feed/components/Poster.jsx
  src/[features]/feed/pages/Feed.jsx
  src/config/api.config.js
  src/index.css
Labels: feat

#76 feat(savePost): try to implement save post feature
  src/[features]/feed/components/Poster.jsx
  src/config/api.config.js
Labels: feat

#77 feat(profile): implement complete profile section with edit functionality and routing updates
  src/AppRoutes.jsx
  src/[features]/auth/Components/profile/PostCard.jsx
  src/[features]/auth/Components/profile/ProfileHeader.jsx
  src/[features]/auth/Components/profile/ProfileNavTabs.jsx
  src/[features]/auth/Components/profile/ProfilePosts.jsx
  src/[features]/auth/Components/profile/ProfileSidebar.jsx
  src/[features]/auth/pages/EditProfilePage.jsx
  src/[features]/auth/pages/ProfilePage.jsx
  src/[features]/feed/components/Poster.jsx
  src/[features]/feed/pages/Feed.jsx
  src/assets/profile/badge-01.png
  src/assets/profile/badge-02.png
  src/assets/profile/badge-03.png
  src/assets/profile/badge-04.png
  src/assets/profile/badge-05.png
  src/assets/profile/coverImg.jpg
  src/assets/profile/profile.jpeg
  src/components/Shared/NavBar.jsx
Labels: feat

#78 feat(auth)add forget password page to visible
  package-lock.json
  src/AppRoutes.jsx
  src/[features]/auth/pages/ForgotPassword.jsx
  src/[features]/auth/pages/Login.jsx
  src/context/AuthContext.jsx
Labels: bug
